<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1><a href="/member/customers">&lArr; Customers</a> <small> :: All</small></h1>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<button class="btn btn-danger " data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus"></span> New Customer
				</button>
				
 			</p>
	 			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">New Customer</h4>
				      </div>
				      <div class="modal-body">
				        <div class="small-form">
					    	<?php if($this->form){ echo $this->form; }?>
					    	<hr/>
					    	<p><a href="">All customers &rarr;</a></p>
					    </div>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/member/customers">customers</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> details</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>Organization</th>
									<th>Member Since</th>
									<th>Total Bought(ltrs)</th>
									<th>Manage</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->members){
								 	
								 	foreach ($this->members as $member) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><a href="/customers/details/<?php echo $member->guid;?>"><?php echo $this->getAccountHolder($member->accountno);?></a></td>
									<td><a href="/customers/details/<?php echo $member->guid;?>"><?php echo $member->accountno;?></a></td>
									<td><?php echo $member->phoneno;?></td>
									<td><?php echo 'Akili Holdings';?></td>
									<td><?php echo $member->datecreated;?></td>
									<td><?php echo $member->idno;?></td>
									<td>
										
										<div class="btn-group">
										  <a class="btn btn-warning" href="/" ><span class="glyphicon glyphicon-info-sign"> Details</a>
										  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
										    <span class="caret"></span>
										    <span class="sr-only">Menu</span>
										  </button>
										  <ul class="dropdown-menu" role="menu">
										    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> edit</a></li>
										    <li class="divider"></li>
										    <li><a href="#"><span class="glyphicon glyphicon-ban-circle"></span> Make inactive</a></li>
										  </ul>
										</div>

										
									</td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>Organization</th>
									<th>Member Since</th>
									<th>Total Bought(ltrs)</th>
									<th>Manage</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>