<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1><a href="/members/bulking-agents"> &lArr; Agents</a> <small> :: edit agent</small></h1>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/members">members</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> details</li>
			</ol>
		</div>
	</div>
<div class="admin-body-rapper">
	<div class="row">
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-6">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>Edit agent details</h3>
				    	<?php if($this->formfarmer){ echo $this->formfarmer; }?>
				    </div>
			</div>
		</div>
		<div class="col-md-1"></div>
		
		
	</div>
</div>