<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h2><a href="/members/farmers"> &larr; Farmers</a></h2>
	</div>
</div>
<div class="clearfix"></div>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-6">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>Edit farmer details</h3>
				    	<?php if($this->formfarmer){ echo $this->formfarmer; }?>
				    </div>
			</div>
		</div>
		<div class="col-md-1"></div>
		
		
	</div>
</div>