
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	    $('#paymentstble').dataTable();
	} );
</script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $('#purchases a:first').tab('show') 
	})
	
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h2><a href="/members/farmers">&larr; Farmers</a></h2>
	</div>
</div>
<div class="clearfix"></div>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-12">
			<h3><?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?>'s Information <a class="btn btn-success btn-group-xs" href="/member/editfarmer/<?php echo $this->member->accountno;?>"> <span class="glyphicon glyphicon-edit"></span> Edit</a></h3>
			<div class="member-details well well-lg">
				<div class="row">
				<div class="col-md-3">
					<ul class="nomargin nopadding listnone">
						<li><b>eT Account </b>: &nbsp; &nbsp; <?php if($this->member){ echo $this->member->accountno;}?> </li>
						<li><b>Mobile</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->phoneno;}?>  </li>
						<li><b>Email</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->email;}?> </li>
						<li><b>ID No</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->idno;}?> </li>
					</ul>
				</div>
				<div class="col-md-8">
					<ul class="nomargin nopadding listnone">
						<li><b>Production Group </b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->accountno;}?>  </li>
						<li><b>Member since</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->datecreated;}?> </li>
						<li><b>Status</b>: &nbsp; &nbsp;<span class="label label-success">Active</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="member-details-tabs">
			
			
			
			
			
			
			
			
			
			
			<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">Sales History</a></li>
        <li><a href="#orange" data-toggle="tab">Payment History</a></li>
        <li><a href="#yellow" data-toggle="tab">Value Exchange</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
            <div class="row">
					<div class="col-md-12">
						<h4><?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?>'s Sales</h4>
						<div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Date</th>
									<th>eT Account</th>
									<th>Quantity</th>
									<th>Rate</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->purchases){
								 	
								 	foreach ($this->purchases as $purchase) {
										 
									
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $purchase->datepurchased;?></td>
									<td><?php echo $purchase->sellerAccount;?></td>
									<td><?php echo $purchase->quantity;?></td>
									<td><?php echo $purchase->rate;?></td>
									<td><?php echo $purchase->value;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							
						</table>
						
				    </div>
					</div>
				</div>
        </div>
        <div class="tab-pane" id="orange">
            <div class="row">
					<div class="col-md-12">
						<h4>Payments to <?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?></h4>
						<div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="paymentstble" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Date of Payment</th>
									<th>eT Account</th>
									<th>Amount</th>
									<th>Balance</th>
									
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->payments){
								 	foreach ($this->payments as $payment) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $payment->datepaid;?></td>
									<td><?php echo $payment->payee;?></td>
									<td><?php echo $payment->value;?></td>
									<td></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							
						</table>
						
				    </div>
					</div>
				</div>	
        </div>
        <div class="tab-pane" id="yellow">
            <h4>Payments using value exchange</h4>
        </div>
    </div>
</div>
 

			
			
			</div>
		</div>
		
	</div>
</div>

 
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>