<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#farmers').dataTable();
	    $('#agentstbl').dataTable();
	    $('#clerkstbl').dataTable();
	    $('#providerstbl').dataTable();
	    $('#customerstbl').dataTable();
	    $('#adminstbl').dataTable();
	    $('#organizationtbl').dataTable();
	} );
</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Members<small> ::  Members</small></h1>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li class="active"><i class="fa fa-group"></i> members</li>
			</ol>
		</div>
	</div>
	
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel-body">
			<p><?php if($this->member){ echo $this->member->description;}?></p>
				<div id="content">
				    
				    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				        <?php if($this->getRole()==102 /*|| $this->getRole()==103*/ || $this->getRole()==106 ){?>
				        <li class="active"><a href="#farmerstab" data-toggle="tab">Farmers</a></li>
				        <?php } ?>
				        
				        <?php if($this->getRole()==102 || $this->getRole()==106 ){?>
				        <li><a href="#agentstab" data-toggle="tab">Agents</a></li>
				        <?php } ?>
				        
				        <?php if($this->getRole()==103 || $this->getRole()==106 ){?>
				        <li <?php if($this->getRole()==103 ){?> class="active" <?php } ?>><a href="#clerkstab" data-toggle="tab">Ziwa Clerks</a></li>
				        <?php } ?>
				        <?php if($this->getRole()==106 ){?>
				        <li><a href="#providerstab" data-toggle="tab">Providers</a></li>
				        <?php } ?>
				        
				       	<?php if($this->getRole()==102 || $this->getRole()==103 || $this->getRole()==106 ){?>
				        <li><a href="#customerstab" data-toggle="tab">Customers</a></li>
				        <?php } ?>
				        <?php if($this->getRole()==107 || $this->getRole()==106 ){?>
				        <li><a href="#adminstab" data-toggle="tab">Administrators</a></li>
				        <?php } ?>
				    </ul>
				    <div id="my-tab-content" class="tab-content">
			         <!-- 
			        	farmers 
			        	---------------------------------------------------------------->
			        
			        <div class="tab-pane  <?php if($this->getRole()==102 || $this->getRole()==106 ){?> active <?php }?> " id="farmerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Farmers</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/member/new-farmer" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Farmer
													</a>
													<a href="/member/new-farmer-group" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Nyumba Kumi
													</a>
													
													
									 			</p>
											</div>
											
										</div>
										
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="farmers" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Clerk</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Member since </th>
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->farmers){
											 	
											 	foreach ($this->farmers as $farmer) {
													 
												
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><a href="/member/details/<?php echo $farmer->accountno;?>"><?php echo $farmer->accountno.'#'.$this->getAccountHolder($farmer->accountno)?></a></td>
												<td><?php echo $farmer->email;?></td>
												<td><?php echo $farmer->phoneno;?></td>
												<td><?php echo $farmer->datecreated;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			        
			         <!-- 
			        	agents 
			        	---------------------------------------------------------------->
			        <div class="tab-pane" id="agentstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Agents</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/member/new-agent" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Agent
													</a>
													
									 			</p>
											</div>
											
										</div>
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="agentstbl" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Member</th>
												<th>eT Account</th>
												<th>Phone</th>
												<th>ID No.</th>
												<th>Organization</th>
												<th>Member Since</th>
											
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->agents){
											 	
											 	foreach ($this->agents as $agent) {
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><a href="/member/details/<?php echo $agent->accountno;?>"><?php echo $this->getAccountHolder($agent->accountno);?></a></td>
												<td><?php echo $agent->accountno;?></td>
												<td><?php echo $agent->phoneno;?></td>
												<td><?php echo $agent->idno;?></td>
												<td><?php echo $agent->orgid;?></td>
												<td><?php echo $agent->datecreated;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										<tfoot>
											<tr>
												<th>No</th>
												<th>Member</th>
												<th>eT Account</th>
												<th>Phone</th>
												<th>ID No.</th>
												<th>Organization</th>
												<th>Member Since</th>
											</tr>
										</tfoot>
									</table>	
									
							    </div>
								</div>
							</div>	
			        </div>
			        
			        <!-- 
			        	clerks 
			        	---------------------------------------------------------------->
			        
			        
			        
			        <div class="tab-pane <?php if($this->getRole()==103){?> active <?php }?> " id="clerkstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Shop Clerks</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/member/new-clerk" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Clerk
													</a>
													
									 			</p>
											</div>
											
										</div>
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="clerkstbl" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->clerks){
								 	
								 	foreach ($this->clerks as $clerk) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $this->getAccountHolder($clerk->accountno);?></td>
									<td><?php echo $clerk->accountno;?></td>
									<td><?php echo $clerk->phoneno;?></td>
									<td><?php echo $clerk->idno;?></td>
									<td><?php echo $clerk->orgid;?></td>
									<td><?php echo $clerk->datecreated;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								</tr>
							</tfoot>
						</table>
									
							    </div>
								</div>
							</div>	
			        </div>
			        
			        <!-- 
			        	providers 
			        	---------------------------------------------------------------->
			        
			        
			              
			        <div class="tab-pane <?php if($this->getRole()==104){?> active <?php }?> " id="providerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Providers</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/member/new-provider" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Clerk
													</a>
													
									 			</p>
											</div>
											
										</div>
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="providerstbl" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->providers){
								 	
								 	foreach ($this->providers as $provider) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $this->getAccountHolder($provider->accountno);?></td>
									<td><?php echo $provider->accountno;?></td>
									<td><?php echo $provider->phoneno;?></td>
									<td><?php echo $provider->idno;?></td>
									<td><?php echo $provider->orgid;?></td>
									<td><?php echo $provider->datecreated;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								</tr>
							</tfoot>
						</table>
									
							    </div>
								</div>
							</div>	
			        </div>
			        
			         <!-- 
			        	customers 
			        	---------------------------------------------------------------->
			        
			        
			        
			        <div class="tab-pane <?php if($this->getRole()==105 ){?> active <?php }?> " id="customerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Customers</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<button class="btn btn-danger " data-toggle="modal" data-target="#myModal">
													  <span class="glyphicon glyphicon-plus"></span> New Customer
													</button>
									 			</p>
										 			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													  <div class="modal-dialog">
													    <div class="modal-content">
													      <div class="modal-header">
													        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													        <h4 class="modal-title" id="myModalLabel">New Customer</h4>
													      </div>
													      <div class="modal-body">
													        <div class="small-form">
														    	<?php if($this->customerform){ echo $this->customerform; }?>
														    	<hr/>
														    	<p><a href="">All customers &rarr;</a></p>
														    </div>
													      </div>
													    </div><!-- /.modal-content -->
													  </div><!-- /.modal-dialog -->
													</div><!-- /.modal -->
												</div>
											
										</div>
									</div>

									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="customerstbl" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Member</th>
												<th>eT Account</th>
												<th>Phone</th>
												<th>ID No</th>
												<th>Organization</th>
												<th>Member Since</th>
											
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->customers){
											 	
											 	foreach ($this->customers as $customer) {
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><a href="/member/details/<?php echo $customer->accountno;?>"><?php echo $this->getAccountHolder($customer->accountno);?></a></td>
												<td><a href="/member/details/<?php echo $customer->accountno;?>"><?php echo $customer->accountno;?></a></td>
												<td><?php echo $customer->phoneno;?></td>
												<td><?php echo $customer->idno;?></td>
												<td><?php echo $customer->orgid;?></td>
												<td><?php echo $customer->datecreated;?></td>
												
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										<tfoot>
											<tr>
												<th>No</th>
												<th>Member</th>
												<th>eT Account</th>
												<th>Phone</th>
												<th>ID No</th>
												<th>Organization</th>
												<th>Member Since</th>
											</tr>
										</tfoot>
									</table>
									
							    </div>
								</div>
							</div>	
							 <!-- 
			Administrators
			        	---------------------------------------------------------------->
			        
			        
			        
			        <div class="tab-pane <?php if($this->getRole()==106){?> active <?php }?> " id="adminstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Administrators</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="#" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Admin													
													</a>
													
									 			</p>
											</div>
											
										</div>
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="adminstbl" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->administrators){
								 	
								 	foreach ($this->administrators as $admin) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $this->getAccountHolder($admin->accountno);?></td>
									<td><?php echo $admin->accountno;?></td>
									<td><?php echo $admin->phoneno;?></td>
									<td><?php echo $admin->idno;?></td>
									<td><?php echo $admin->orgid;?></td>
									<td><?php echo $admin->datecreated;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
								</tr>
							</tfoot>
						</table>
									
							    </div>
								</div>
							</div>	
			
			        </div>
			        </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
