
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h2>Create new Nyumba Kumi</h2>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/members">members</a></li>
		      <li> <a href="/member/new-farmer">new-farmer</a></li>
		      <li class="active"><i class="fa fa-group"></i> new-nyumbakumi</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-6">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<?php if($this->formNyumbaKumi){ echo $this->formNyumbaKumi; }?>
				    </div>
			</div>
		</div>
		
	</div>
</div>