
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h2>Create new farmer</h2>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<button class="btn btn-danger " data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus"></span> Create Nyumba Kumi
				</button>
				<a href="/member/new-bulking-agent" class="btn btn-primary">
				  <span class="glyphicon glyphicon-open"></span> New Production Group
				</a>
				<a href="/purchase/new" class="btn btn-primary">
				  <span class="glyphicon glyphicon-open"></span> Import
				</a>
 			</p>
			<!-- Button trigger modal -->
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Create Nyumba Kumi</h4>
			      </div>
			      <div class="modal-body">
			        <div class="small-form">
				    	<?php if($this->formNyumbaKumi){ echo $this->formNyumbaKumi; }?>
				    	<hr/>
				    	<p><a href="">What is a Nyumba Kumi?</a></p>
				    </div>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/members">members</a></li>
		      <li class="active"><i class="fa fa-group"></i> new farmer</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-6">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<?php if($this->form){ echo $this->form; }?>
				    </div>
			</div>
		</div>
		
		
	</div>
</div>