<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h2>Service Providers</h2>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<a href="/member/new-provider" class="btn btn-danger">
				  <span class="glyphicon glyphicon-plus"></span> New
				</a>
				<a href="/member/import-farmers" class="btn btn-primary">
				  <span class="glyphicon glyphicon-import"></span> Import
				</a>
				<a href="/members/export" class="btn btn-primary">
				  <span class="glyphicon glyphicon-export"></span> Export
				</a>
 			</p>
		</div>
		
	</div>
</div>
<div class="clearfix"></div>
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
									<th>Manage</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->members){
								 	
								 	foreach ($this->members as $member) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $this->getAccountHolder($member->accountno);?></td>
									<td><?php echo $member->accountno;?></td>
									<td><?php echo $member->phoneno;?></td>
									<td><?php echo $member->idno;?></td>
									<td><?php echo $member->orgid;?></td>
									<td><?php echo $member->datecreated;?></td>
									<td>
										<div class="btn-group">
										  <a class="btn btn-warning" href="/" ><span class="glyphicon glyphicon-info-sign"> Details</a>
										  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
										    <span class="caret"></span>
										    <span class="sr-only">Menu</span>
										  </button>
										  <ul class="dropdown-menu" role="menu">
										    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> edit</a></li>
										    <li class="divider"></li>
										    <li><a href="#"><span class="glyphicon glyphicon-ban-circle"></span> Make inactive</a></li>
										  </ul>
										</div>
									</td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>eT Account</th>
									<th>Phone</th>
									<th>ID No.</th>
									<th>Organization</th>
									<th>Member Since</th>
									<th>Manage</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>