        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Organization Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to Akili eT. Akili eT enables your organization to buy products from farmers, sell the produce or exchange the value for farm inputs.
            </div>
            
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->purchaseworth){ echo number_format($this->purchaseworth);}else{ echo '0';}?>/-</p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Total Purchases (Ksh)</p>
                  </div>
                </div>
              </div>
              <a href="/purchases">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Purchases
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->salesworth){ echo number_format($this->salesworth);}else{ echo '0';}?>/-</p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Sum Sales (Ksh )</p>
                  </div>
                </div>
              </div>
              <a href="/sales">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Sales
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->expenseworth){ echo number_format($this->expenseworth);}else{ echo '0';}?>/-</p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Sum Expenses (Ksh )</p>
                  </div>
                </div>
              </div>
              <a href="/expenses">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Expenses
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->profits){ echo number_format($this->profits);}else{ echo '0';}?>/-</p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Sum profits (Ksh )</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Profits
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->

        <!-- <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Purchase History: 2013</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-area"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row --> 


