
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>
<script>
  $(function() {
    var availableTags = [
      <?php 
      
      foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>



<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
	    <h1>Purchases <small>All Purchases</small></h1>
	 </div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus"></span> New
				</button>
				<a href="/purchase/new" class="btn btn-primary">
				  <span class="glyphicon glyphicon-open"></span> Import
				</a>
 			</p>
			<!-- Button trigger modal -->
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">New Purchase</h4>
			      </div>
			      <div class="modal-body">
			        <div class="small-form">
				    	<?php if($this->form){ echo $this->form; }?>
				    	<hr/>
				    	<a href="/purchase/new">Mass upload &rarr;</a>
				    </div>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		
	</div>
</div>
<div class="clearfix"></div>
<ol class="breadcrumb">
  <li> <a href="/">Home</a></li>
  <li class="active"><i class="fa fa-dashboard"></i> Purchases</li>
</ol>
<div class="admin-body-wrapper">
	<div class="row">
		
		<div class="col-md-12">
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Bought From</th>
									<th>Quantity</th>
									<th>Rate</th>
									<th>Value</th>
									<th>Date</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->purchases){
								 	
								 	foreach ($this->purchases as $purchase) {
										 
									 
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><a href="/member/details/<?php echo $purchase->sellerAccount; ?>"><?php echo $purchase->sellerAccount.'#'.$this->getAccountHolder($purchase->sellerAccount);?></a></td>
									<td><?php echo $purchase->quantity;?></td>
									<td><?php echo $purchase->rate;?></td>
									<td><?php echo $purchase->value;?></td>
									<td><?php echo $purchase->datepurchased;?></td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Quantity</th>
									<th>Rate</th>
									<th>Value</th>
									<th>Date</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>