

<script>
  $(function() {
    var availableTags = [
      <?php 
      
      foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<div class="col-lg-6 col-md-6">
    <h1>Purchase <small>New Purchase</small></h1>
    <ol class="breadcrumb">
      <li> <a href="">Home</a></li>
      <li><a href="/purchases">Purchases</a></li>
      <li class="active"><i class="fa fa-dashboard"></i> New Purchase</li>
    </ol>
</div>
<div class="clearfix"></div>
<div class="admin-body-wrapper">
	<div class="row">
			
			<?php if($this->mid || $this->message ){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->mid==1){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo ucfirst($this->message);?>
					</div>
			</div>
			<?php } ?>
			
			
			
		
		<div class="col-md-4">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>Individual</h3>
				    	<?php if($this->form){ echo $this->form; }?>
				    </div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>Import from Excel</h3>
				    	<form action="/purchase/purchaseimport" method="post" enctype="multipart/form-data">
				    		<div class="form-group">
				    		<h5>Step 1 : Download template</h5>
				    		<p class="help-block">To upload purchases from an excel sheet, first download the template below and populate data on it
				    			<br/> <a href="/data/purchase_template.xlsx">Download template here</a></p>
				    		<h5>Step 2: Choose Excel sheet populated with data </h5>
								    <input type="file" name="myFile" id="inputfile">
							<h5>Step 3 : Upload</h5>						    
								    <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-open"></span> Import</button>
							    
							  </div>
				    	</form>
				    </div>
			</div>
		</div>
		
	</div>
</div>