 <h1 class="page-header">Import Purchases</h1>
 
<?php if ($this->message){
	?>
	<div class="alert alert-success">
		<?php
			echo $this->message;
		?>
	</div>
<?php }?>



<?php if (count($this->errorArray)>0){
	?>
	<div class="alert alert-success">
		<?php
			foreach ($this->errorArray as $error) {
				echo $error;
				echo '<br/>';
			}
		?>
	</div>
<?php }?>