<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
	</script>


<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
    <h1>Payments <small>All Payments</small></h1>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<a href="/payment/new" class="btn btn-primary">
				  <span class="glyphicon glyphicon-plus"></span> Make Payments
				</a>
				<a href="#" class="btn btn-primary">
				  <span class="glyphicon glyphicon-share"></span> Export Records
				</a>
 			</p>
			<!-- Button trigger modal -->
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">New Sale</h4>
			      </div>
			      <div class="modal-body">
			        <div class="small-form">
				    	<?php if($this->form){ echo $this->form; }?>
				    	<hr/>
				    	<a href="/purchase/new">Mass upload &rarr;</a>
				    </div>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		
	</div>
</div>

<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="">Home</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> Payments</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Amount</th>
									<th>Balance</th>
									<th>Date</th>
									<th>History</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->payments){
								 	
								 	foreach ($this->payments as $payment) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $payment->payee.'#'.$this->getAccountHolder($payment->payee);?></td>
									<td><?php echo $payment->value;?></td>
									<td><?php echo $payment->value;?></td>
									<td><?php echo $payment->datepaid;?></td>
									<td class="width-history">
										<a href="/payment/history/account/<?php echo $payment->payee?>"><i class="fa fa-folder-open"></i> History  </a>
									</td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Amount</th>
									<th>Balance</th>
									<th>Date</th>
									<th>History</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>