<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".form-control").keyup(function(){
    	
    	
    	var hashsign = '#';
    	var payid = $(this).attr("id");
    	var idgotten = hashsign+payid;
    	
    	var dueId = '#due-'+payid;
    	var balanceId = '#balance-'+payid;
    	
    	
    	var due = $(dueId).text();
    	var pay = $(idgotten).val();
    	
    	var balance = due - pay;
    	//write to balance field
    	$(balanceId).text(balance);
    });

})
</script>

<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Payments <small>New Payment</small></h1>
	</div>
	<div class="col-lg-6 col-md-6"></div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">Home</a></li>
		      <li> <a href="/payments">Payments</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> New Payments</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Litres</th>
									<th>Previous Payments (Ksh)</th>
									<th>Due(Ksh)</th>
									<th>Pay(Ksh)</th>
									<th>Balance(Ksh)</th>
									<th>History</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->accountsdue){
								 	
								 	foreach ($this->accountsdue as $accountdue) {
									 		$payment = $this->getPaymentByPayee($accountdue->sellerAccount);
											
											if($payment){
												$paidamount = $payment->value;
											}else{
												$paidamount = '0';
											}
											$totalowed = $accountdue->value;
											$due = $totalowed - $paidamount;
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $accountdue->sellerAccount.' '.$this->getAccountHolder($accountdue->sellerAccount);?></td>
									<td><?php echo $accountdue->quantity;?></td>
									<td><?php if($this->getPaymentByPayee($accountdue->sellerAccount)){ echo $this->getPaymentByPayee($accountdue->sellerAccount)->value;} else{ echo '0';}?></td>
									<td><span id="due-<?php echo $no; ?>" class="amounts"><?php if($due!==''){  echo $due; }else { echo '02';}?></span></td>
									<td class="width-payment">
										<form class="form-inline in-td" role="form" action="/payment/new" method="post" id="formReset">
										  <div class="form-group">
										    <input type="hidden" name="payee" value="<?php echo $accountdue->sellerAccount;?>">
										    <input type="text" name="value" class="form-control" id="<?php echo $no; ?>" value="" placeholder="Enter Amount">
										  </div>
										  <button type="submit" class="btn btn-success">Pay</button>
										  <span class="error-label"><i><?if(isset($this->payee) && $accountdue->sellerAccount== $this->payee){ echo $this->message; }?></i></span>
										</form>
									</td>
									<td style="text-align: center"><span id="balance-<?php echo $no; ?>" class="amounts"><?php echo $due;?></span></td>
									<td class="width-history">
										<a href="/payment/history/account/<?php echo $accountdue->sellerAccount?>"><i class="fa fa-folder-open"></i> History  </a>
									</td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Litres</th>
									<th>Previous Payments (Ksh)</th>
									<th>Due(Ksh)</th>
									<th>Pay(Ksh)</th>
									<th>Balance(Ksh)</th>
									<th>History</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>