<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Value <small> :: exchange</small></h1>
	</div>
	
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/exchange">value exchange</a></li>
		      <li class="active"><i class="fa fa-folder-open"></i> history</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
	<div class="row">
		<div class="col-md-12">
			<h1><?php 
				if($this->accountno){
					echo $this->accountno.'#'.$this->getAccountHolder($this->accountno);
				}
				?>
			</h1>
			<hr/>
		</div>
	</div>		
	<div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->sumtotal){ echo $this->sumtotal->sum.'/- ';}else{ echo '0';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Sum total</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Value Exchange
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->payment && $this->purchases ){ echo $this->purchases->value - ($this->payment->value) .'/- ';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Balance</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Balance value
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          
          
          
        </div><!-- /.row -->
        
	<div class="row">
		
		
		<div class="col-md-12">
			<h2><small>Value exchange history</small></h2>
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Date Paid</th>
									<th>Value</th>
									<th>Description</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->exchanges){
								 	
								 	foreach ($this->exchanges as $exchange) {
								 ?>
								<tr>
									<td><?php echo $no;?></td>
									<td><?php echo $exchange->datepaid;?></td>
									<td>Ksh <?php echo $exchange->value;?></td>
									<td><?php echo $exchange->description;?></td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>