g<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	      $('#example').dataTable();
	      $('#input').dataTable();
	 
	} );
</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Exchanges<small> :: Farm Input </small></h1>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> Farm Inputs</li>
			</ol>
		</div>
	</div>
	
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel-body">
			<p><?php if($this->member){ echo $this->member->description;}?></p>
				<div id="content">
				    
				    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
 					<?php if($this->getRole()==102 /*|| $this->getRole()==103*/ || $this->getRole()==106 ){?>
				        <li class="active"><a href="#farmerstab" data-toggle="tab">Exchanges</a></li>
				        <?php } ?>
				         <?php if($this->getRole()==102 /*|| $this->getRole()==103*/ || $this->getRole()==106 ){?>
				        <li><a href="#customerstab" data-toggle="tab">Inputs</a></li>
				         <?php } ?>
				    </ul>
				    <div id="my-tab-content" class="tab-content">
			         <!-- 
			        	farmers 
			        	---------------------------------------------------------------->
			        
			        <div class="tab-pane active <?php if($this->getRole()==101 || $this->getRole()==106 ){?> active <?php }?> " id="farmerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Value Exchange</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/exchange/make"class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Exchange
													</a>
													
													
													
									 			</p>
											</div>
											
										</div>
										
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Date Paid</th>
												<th>Farmer</th>
												<th>Total</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<?php
												$no = 1;
												 if ($this->exchanges){
								 	
								 				foreach ($this->exchanges as $exchange) {
												
											 ?>
											<tr>
												<td><?php echo $no;?></td>
									<td><?php echo $exchange->datepaid;?></td>
									<td><a href="/member/details/<?php echo  $exchange->payee;?>"><?php echo $exchange->payee.'#'.$this->getAccountHolder($exchange->payee);?></a></td>
									<td>Ksh <?php echo $exchange->value;?></td>
									<td>
										<a href="/exchange/details/account/<?php echo  $exchange->payee?>"><i class="fa fa-folder-open"></i> History  </a>
									</td>
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			        
			         <!-- 
			        	provides
			        	---------------------------------------------------------------->
			        
			        
			        
			        <div class="tab-pane <?php if($this->getRole()==102 ||$this->getRole()==101 ||$this->getRole()==104 || $this->getRole()==106 ){?> active <?php }?> " id="customerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Provides</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<button class="btn btn-danger " data-toggle="modal" data-target="#myModal">
													  <span class="glyphicon glyphicon-plus"></span> New Input
													</button>
									 			</p>
										 			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													  <div class="modal-dialog">
													    <div class="modal-content">
													      <div class="modal-header">
													        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													        <h4 class="modal-title" id="myModalLabel">New Input</h4>
													      </div>
													      <div class="modal-body">
													        <div class="small-form">
														    	
														    	<hr/>
														    	<p><a href="">All customers &rarr;</a></p>
														    </div>
													      </div>
													    </div><!-- /.modal-content -->
													  </div><!-- /.modal-dialog -->
													</div><!-- /.modal -->
												</div>
											
										</div>
									</div>

									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="input" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Name</th>
												<th>Amount</th>
												<th>Quantity</th>
												<th>Category</th>
												<th>Requested</th>
											</tr>
										</thead>
										<tbody>
											
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												
												
											</tr>
											
										</tbody>
										<tfoot>
											<tr>
												<th>No</th>
												<th>Name</th>
												<th>Amount</th>
												<th>Quantity</th>
												<th>Category</th>
												<th>Requested</th>
												
											</tr>
										</tfoot>
									</table>
									
							    </div>
								</div>
							</div>	
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
