<script>
  $(function() {
    var availableTags = [
      <?php 
      
      foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      }
      ?>
    ];
    
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
	    <h1>Exchange <small> :: New exchange</small></h1>
	    
	 </div>
</div>
<div class="clearfix"></div>
	<ol class="breadcrumb">
	      <li> <a href="">Home</a></li>
	      <li><a href="/exchange">exchange</a></li>
	      <li class="active"><i class="fa fa-dashboard"></i> Value Exchange</li>
	    </ol>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-6">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<?php if($this->form){ echo $this->form; }?>
				    </div>
			</div>
		</div>
		
	</div>
</div>