html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.clr{
	clear:both;
}
.nomargin{
	margin:0;
}
.nopadding{
	padding:0;
}
.footer-content{
	padding:20px 0;
	margin:0;
}
img#logo{
	width:60px;
	margin:-15px 0;
}

.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.body-wrap,.admin-body-wrapper{
	background-color:#fff;
	padding:15px;
}

.right{
	text-align:right;
}
.akili-controls{
	margin-top:10px;
}

/*
 * Making all dropdowns work on hover 
 */
	

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.hover.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.footer-cont a{
	margin: 0 10px;
}
.small-form .form-control{
	display: block;
	width: 100%;
	height: 72px;
	padding: 6px 12px;
	font-size: 28px;
	line-height: 1.428571429;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(76, 175, 59, 1);
  border: 1px solid rgba(169, 204, 102, 1);
}
.ui-autocomplete li a{
	font-size:28px;
}
td form{
	
}
td form.in-td input{
}
.amounts{
	font-weight:bold;
}
.listnone{
	list-style-type:none;
}
.member-details{
	margin:50px 0;
}
.member-details-tabs{
}
.tab-content {
	margin:20px 0;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #6bd25a;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #80e56f;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #80e56f;
}
.navbar-user  > .open > a, .navbar-user > .open > a:hover, .navbar-user  > .open > a:focus {
	color: #ffffff;
	background-color: #ccc !important;
}
.navbar-user>li>a:hover, .navbar-user>li>a:focus {
	color:#fff !important;
	background-color: #ccc !important;
}


.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #e5e4e4;
	border-bottom-color: #e5e4e4;
}
.navbar-inverse {
	background-color: transparent;
	border:2px solid #ccc;
}

 
.navbar-user > li > a, .navbar-user > a .caret {
	color: #999 !important;
}

  
.navbar-inverse .navbar-nav > li > a {
	color: #e5e4e4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
	color:#b2bac2;
}
h1, h2, h3, h4, h5, h6{
	color:#999999;
	font-weight:bold;
}
.panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6{
	color:#fff;
	font-weight:500;
}

.panel-heading h2 a, .panel-heading h3 a, .panel-heading h4 a, .panel-heading h5 a, .panel-heading h6 a{
	color:#fff;
	font-weight:bold;
}


.panel-default  .panel-heading h2,  .panel-default  .panel-heading h3,.panel-default  .panel-heading h4,.panel-default  .panel-heading h5,.panel-default  .panel-heading h6{
	color:#666;
	font-weight:bold;
}
.title-wrap h1 a, .title-wrap h2 a{
	color:#999999;
	text-decoration:none;
	cursor:pointer;
}
.title-wrap h1 a:focus, .title-wrap h1 a:hover, .title-wrap h2 a:focus,.title-wrap h2 a:hover{
	color:#333;
	text-decoration:none;
	cursor:pointer;
}
.navbar-brand img{
	width:51px;
}
.navbar-brand {
	float: left;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
}
td.width-payment{
	width:237px;	
}
td.width-history{
	width:100px;
}
.small-mobile-menu{
	padding:20px 0;
	display:none;
}
@media (max-width: 767px) {
  .navbar-inverse {
	background-color: #4CAF3B;
	border-top:0px solid #a9bf04;
	border-left:0px solid #a9bf04;
	border-right:0px solid #a9bf04;
	border-bottom:4px solid #a9bf04;
	}
	.small-mobile-menu{
		display:block;
	}
	.navbar-inverse .navbar-brand {
	color: #FFF;
	}
	.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
	text-align:left;
	}
	.navbar-collapse {
		background-color: #4CAF3B;
	}
	.navbar-nav {
	margin: 7.5px 0px;
	}
	.brand-nv{
		margin-top: 0;
		text-align: left;
	}
	.brand-nv .navbar-brand{
		display:none;
	}
	.navbar-user > li > a, .navbar-user > a .caret {
	color: #fff !important;
	}
	.dropdown-menu > li > a {
		color:#fff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
	}
	.navbar-inverse .navbar-toggle {
		color:#fff;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #fff;
		}
		.navbar-brand img{
			width:70px;
		}
		.menu-top{
			width:70px;
			padding:6px 0;
		}
		.menu-name{
			float:left;
			margin-top: -2px;
			text-transform:uppercase;
		}
		.menu-strips{
			float:right;
		}

}
