body {
  padding-top: 40px;
  padding-bottom: 40px;
  color:#fff;
  background-color: #4CAF3B;
  font-family: 'Open Sans',Helvetica, Arial, sans-serif;
  font-weight:300;
}
p{
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	font-weight:300;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1, h2, h3, h4, h5{
	color:#cefac7;
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	font-weight:600;
}
h1 small, h2 small, h3 small, h4 small, h5 small{
	color:#c9fbc1;
}
.logowrap img{
	width:100px;
}
.logowrap{
	margin-bottom:50px;
}
.center{
	text-align:center;
}
