
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="logowrap">
			<p class="nomargin nopadding center">
				<a href="/"><img src="/images/logo.png" alt="AKili eT"/></a>
			</p>
		</div>
		<h2 class="form-signin-heading">Create a password</h2>
		<?php if($this->message){
			?>
			<div class="alert alert-danger">
			  <strong><i class="fa fa-exclamation-circle"></i></strong> <?php echo $this->message;?>
			</div>
		
		<?php } ?>
		<?php if($this->form){
			echo $this->form;
		}?>
	</div>
	<div class="col-md-4"></div>
</div>	

