<form class="form-signin" role="form" action="/account/login" method="post">
	<div class="logowrap">
			<p class="nomargin nopadding center">
				<a href="/"><img src="/images/logo.png" alt="AKili eT"/></a>
			</p>
		</div>
		
	<h2 class="form-signin-heading">Login to Akili eT</h2>
	<?php if($this->message){
	?>
	<div class="alert alert-danger">
	  <strong><i class="fa fa-exclamation-circle"></i></strong> <?php echo $this->message;?>
	</div>
	

	<?php } ?>
	<div class="form-group">
		<label for="exampleInputEmail1">Email or Phone No</label>
		<input type="text" class="form-control" placeholder="Email address" name="email" required autofocus>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Password</label>
		<input type="password" class="form-control" placeholder="Password" name="password" required>
	</div>
	<label class="checkbox">
		<input type="checkbox" value="remember-me" name="rememberme">
		Remember me </label>
	<button class="btn btn-lg btn-primary btn-block" type="submit">
		<i class="fa fa-unlock"></i> Login
	</button>
</form>

