
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	    $('#paymentstble').dataTable();
	    $('#sales').dataTable();
	    $('#valueexchange').dataTable();
	    
	} );
</script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $('#purchases a:first').tab('show') 
	})
	
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Member <small> :: Profile</small></h1>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
	      <li> <a href="/">home</a></li>
	      <li> <a href="/members">members</a></li>
	      <li class="active"><i class="fa fa-folder-open"></i> profile</li>
		</ol>
	</div>
</div>



<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
		<div class="col-md-12">
			<h3><?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?>'s Profile
				
				 <?php 
			        if($this->member){ 
			        	if($this->member->agentcatid==101){
			        	?>
			       <a class="btn btn-success btn-group-xs" href="/member/editfarmer/<?php echo $this->member->accountno;?>"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
			        
			        <?php 
						}
			        }
			        ?>
			        
			        </h3>
			        
			        
				 
			<br/>
			<div class="row">
          <!-- <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  
                  <div class="col-xs-12 text-right">
                    <p class="announcement-heading"><?php if($this->sumtotal){ echo $this->sumtotal->sum.'/- ';}else{ echo '0/-';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Sum total</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Total Paid
                    </div>
                    <div class="col-xs-3 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                  	
                    <p class="announcement-heading"><?php if(isset($bal)){ echo $bal .'/- ';}else{ echo '0/-';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Balance</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Balance value
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                  	
                    <p class="announcement-heading"><?php if(isset($bal)){ echo $bal .'/- ';}else{ echo '0/-';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Balance</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Balance value
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-right">
                  	
                    <p class="announcement-heading"><?php if(isset($bal)){ echo $bal .'/- ';}else{ echo '0/-';}?></p>
                    <p class="announcement-text"><i class="fa fa-money"></i> Balance</p>
                  </div>
                </div>
              </div>
              <a href="/exchange">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-9">
                      Balance value
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
        </div><!-- /.row -->
        
			<div class="member-details well well-lg">
				<div class="row">
				<div class="col-md-3">
					<ul class="nomargin nopadding listnone">
						<li><b>eT Account </b>: &nbsp; &nbsp; <?php if($this->member){ echo $this->member->accountno;}?> </li>
						<li><b>Mobile</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->phoneno;}?>  </li>
						<li><b>Email</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->email;}?> </li>
						<li><b>ID No</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->idno;}?> </li>
					</ul>
				</div>
				<div class="col-md-8">
					<ul class="nomargin nopadding listnone">
						<li><b>Production Group </b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->accountno;}?>  </li>
						<li><b>Member since</b>: &nbsp; &nbsp;<?php if($this->member){ echo $this->member->datecreated;}?> </li>
						<li><b>Status</b>: &nbsp; &nbsp;<span class="label label-success">Active</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="member-details-tabs">
			<div id="content">
			    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			        <?php 
			        if($this->member){ 
			        	if($this->member->agentcatid==102 ||  $this->member->agentcatid==103 ){
			        	?>
			        <li class="active fade in"><a href="#purchases" data-toggle="tab">Purchase History</a></li>
			        
			        <?php 
						}
			        }
			        ?>
			        
			        <?php 
			        if($this->member){ 
			        	if($this->member->agentcatid==101 || $this->member->agentcatid==102 ||  $this->member->agentcatid==103 ||  $this->member->agentcatid==105){
			        	?>
			        <li class="<?php if($this->member){ if($this->member->agentcatid==101 || $this->member->agentcatid==105){ echo 'active';}}?>"><a href="#red" data-toggle="tab">Sales History</a></li>
			        
			        <?php 
						}
			        }
			        ?>
			        
			        <?php 
			        if($this->member){ 
			        	if($this->member->agentcatid==101 || $this->member->agentcatid==102 ||  $this->member->agentcatid==103){
			        	?>
			        	<li><a href="#orange" data-toggle="tab">Cash Payments</a></li>
			        
			        <?php 
						}
			        }
			        ?>
			        
			        <?php 
			        if($this->member){ 
			        	if($this->member->agentcatid==101 || $this->member->agentcatid==104){
			        	?>
			        	<li><a href="#yellow" data-toggle="tab">Value Exchange</a></li>
			        
			        <?php 
						}
			        }
			        ?>
			        
			        
			    </ul>	
			    <div id="my-tab-content" class="tab-content">
			        <div class="tab-pane <?php if($this->member){ if($this->member->agentcatid==102 || $this->member->agentcatid==103 ){ echo 'active';}}?>" id="purchases">
			            <div class="row">
								<div class="col-md-12">
									<h4><?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?>'s Purchases</h4>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Date</th>
												<th>eT Account</th>
												<th>Quantity</th>
												<th>Rate</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->purchases){
											 	
											 	foreach ($this->purchases as $purchase) {
													 
												
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><?php echo $purchase->datepurchased;?></td>
												<td><?php echo $purchase->sellerAccount;?></td>
												<td><?php echo $purchase->quantity;?></td>
												<td><?php echo $purchase->rate;?></td>
												<td><?php echo $purchase->value;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			        
			        
			        
			        <div class="tab-pane <?php if($this->member){ if($this->member->agentcatid==101 || $this->member->agentcatid==105 ){ echo 'active';}}?>" id="red">
			            <div class="row">
								<div class="col-md-12">
									<h4><?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?>'s Sales </h4>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="sales" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Date</th>
												<th>eT Account</th>
												<th>Quantity</th>
												<th>Rate</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->sales){
											 	
											 	foreach ($this->sales as $sale) {
													 
												
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<?php if($this->member){ if($this->member->agentcatid==101 ){ ?>
												<td><?php echo $sale->datepurchased;?></td>
												<?php }else{ ?>
												<td><?php echo $sale->datesold;?></td>
												<?php }}?>
												
												<?php if($this->member){ if($this->member->agentcatid==101 ){ ?>
												<td><?php echo $sale->buyerAccount.'#'.$this->getAccountHolder($sale->buyerAccount);?></td>
												<?php }else{ ?>
												<td><?php echo $sale->customerAccount.'#'.$this->getAccountHolder($sale->customerAccount);?></td>
												<?php }}?>
												
												
												
												
												<td><?php echo $sale->quantity;?></td>
												<td><?php echo $sale->rate;?></td>
												<td><?php echo $sale->value;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			        <div class="tab-pane" id="orange">
			            <div class="row">
								<div class="col-md-12">
									<h4>Cash Payments to <?php if($this->member){ echo $this->member->fname.' '.$this->member->mname;}?></h4>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="paymentstble" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Date of Payment</th>
												<th>eT Account</th>
												<th>Amount</th>
												
											
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->payments){
											 	foreach ($this->payments as $payment) {
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><?php echo $payment->datepaid;?></td>
												<td><?php echo $payment->payee;?></td>
												<td><?php echo $payment->value;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>	
			        </div>
			        <div class="tab-pane <?php if($this->member){ if($this->member->agentcatid==104){ echo 'active';}}?>" id="yellow">
			            <div class="row">
								<div class="col-md-12">
									<h4>Value Exchange</h4>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="valueexchange" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Date of Payment</th>
												<th>eT Account</th>
												<th>Amount</th>
												
											
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->payments){
											 	foreach ($this->exchanges as $exchange) {
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><?php echo $exchange->datepaid;?></td>
												<td><?php echo $exchange->payee;?></td>
												<td><?php echo $exchange->value;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			    </div>
			</div>
			
			</div>
		</div>
	</div>
</div>

 
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>