<form class="form-signin" role="form" action="/account/register" method="post">
	<h2 class="form-signin-heading">Sample registeration</h2>
	<?php if($this->message){
	?>
	<div class="alert alert-danger">
	  <strong><i class="fa fa-exclamation-circle"></i></strong> <?php echo $this->message;?>
	</div>
	<?php } ?>
	<div class="form-group">
		<label for="exampleInputEmail1">Email or Phone No</label>
		<input type="text" class="form-control" placeholder="Email address" name="email" required autofocus>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Password</label>
		<input type="password" class="form-control" placeholder="Password" name="password" required>
	</div>
	
	<button class="btn btn-lg btn-primary btn-block" type="submit">
		Register
	</button>
</form>

