<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
	</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      
      foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      }
      ?>
    ];
    
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>

<div class="row">
          <div class="col-lg-6 col-md-6">
            <h1>Sales <small>All Sales</small></h1>
            <ol class="breadcrumb">
              <li> <a href="">Home</a></li>
              <li class="active"><i class="fa fa-dashboard"></i> Sales</li>
            </ol>
          </div>
          <div class="col-lg-6 col-md-6">
				<div class="akili-controls">
					<p class="nomargin nopadding right">
						<button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
						  <span class="glyphicon glyphicon-plus"></span> New Sale
						</button>
						<a href="/sale/new" class="btn btn-primary">
						  <span class="glyphicon glyphicon-open"></span> Import Records
						</a>
		 			</p>
					<!-- Button trigger modal -->
					
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">New Sale</h4>
					      </div>
					      <div class="modal-body">
					        <div class="small-form">
						    	<?php if($this->form){ echo $this->form; }?>
						    	<hr/>
						    	<a href="/purchase/new">Mass upload &rarr;</a>
						    </div>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
				
			</div>
        </div><!-- /.row -->



<div class="clearfix"></div>
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Quantity</th>
									<th>Rate</th>
									<th>Value</th>
									<th>Date</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->sales){
								 	
								 	foreach ($this->sales as $sale) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><a href="/member/details/<?php  echo $sale->customerAccount; ?>"><?php echo $sale->customerAccount.'#'.$this->getAccountHolder($sale->customerAccount);?></a></td> 
									<td><?php echo $sale->quantity;?></td>
									<td><?php echo $sale->rate;?></td>
									<td><?php echo $sale->value;?></td>
									<td><?php echo $sale->datesold;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Member</th>
									<th>Quantity</th>
									<th>Rate</th>
									<th>Value</th>
									<th>Date</th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>