
<script>
  $(function() {
    var availableTags = [
      <?php 
      
      foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      }
      ?>
    ];
    
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>

<div class="small-form">
	<div class="row">
		<div class="col-lg-5">
			<?php if($this->form){ echo $this->form; }?>
		</div>
	</div>
</div>