
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	    $('#paymentstble').dataTable();
	    $('#agents').dataTable();
	    $('#salestbl').dataTable();
	    
	} );
</script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $('#purchases a:first').tab('show') 
	})
	
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1><a href="/shops">&lArr; Ziwa Points</a><small> > Details</small></h1>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/shops">ziwa points</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> details</li>
			</ol>
		</div>
	</div>
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-12">
			<h3></h3>
			
		
		
		
		<!--  
			
			Tabs begin from here
			
			
			-->
		
		
		
		
		<div class="member-details-tabs">
			
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><?php if($this->member){ echo $this->member->name;}?> <!-- <a class="btn btn-primary btn-group-xs pull-right" href="/agents/edit/<?php echo $this->member->guid;?>"> <span class="glyphicon glyphicon-edit"></span> Edit</a> --></h3>
				    <div class="clearfix"></div>
				  </div>
				  <div class="panel-body">
				  	<p><?php if($this->member){ echo $this->member->description;}?></p>
				    	<div id="content">
						    
						    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						        <li class="active"><a href="#red" data-toggle="tab">Clerks</a></li>
						        <li><a href="#orange" data-toggle="tab">Purchase History</a></li>
						        <li><a href="#yellow" data-toggle="tab">Sales History</a></li>
						    </ul>
						    <div id="my-tab-content" class="tab-content">
					         <!-- 
					        	Purchases 
					        	---------------------------------------------------------------->
					        
					        <div class="tab-pane active" id="red">
					            <div class="row">
										<div class="col-md-12">
											<h4>Clerks</h4>
											<div class="dash-tale">
									    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="agents" width="100%">
												<thead>
													<tr>
														<th>No</th>
														<th>Clerk</th>
														<th>Email</th>
														<th>Phone</th>
														<th>Member since </th>
													</tr>
												</thead>
												<tbody>
													<?php
													$no = 1;
													 if ($this->clerks){
													 	
													 	foreach ($this->clerks as $clerk) {
															 
														
													 ?>
													<tr>
														<td><?echo $no;?></td>
														<td><a href="/members/bulking-agent-details/<?php echo $clerk->accountno;?>"><?php echo $clerk->accountno.'#'.$this->getAccountHolder($clerk->accountno)?></a></td>
														<td><?php echo $clerk->email;?></td>
														<td><?php echo $clerk->phoneno;?></td>
														<td><?php echo $clerk->datecreated;?></td>
														
													</tr>
													<?php $no++; } }?>
												</tbody>
												
											</table>
											
									    </div>
										</div>
									</div>
					        </div>
					        
					         <!-- 
					        	Sales 
					        	---------------------------------------------------------------->
					        <div class="tab-pane" id="orange">
					            <div class="row">
										<div class="col-md-12">
											<h4>Purchases</h4>
											<div class="dash-tale">
									    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="paymentstble" width="100%">
												<thead>
													<tr>
														<th>No</th>
														<th>Date Purchased</th>
														<th>Quantity</th>
														<th>Rate</th>
														<th>Value</th>
														<th>Clerk</th>
														<th></th>
														
													
													</tr>
												</thead>
												<tbody>
													<?php
													$no = 1;
													 if ($this->purchases){
													 	foreach ($this->purchases as $purchase) {
													 ?>
													<tr>
														<td><?echo $no;?></td>
														<td><?php echo $purchase->datepurchased;?></td>
														<td><?php echo $purchase->quantity;?></td>
														<td><?php echo $purchase->rate;?></td>
														<td><?php echo $purchase->value;?></td>
														<td><a href="/members/bulking-agent-details/<?php echo $purchase->buyerAccount;?>"><?php echo $purchase->buyerAccount.'#'.$this->getAccountHolder($purchase->buyerAccount)?></a></td>
														<td></td>
														
													</tr>
													<?php $no++; } }?>
												</tbody>
												
											</table>
											
									    </div>
										</div>
									</div>	
					        </div>
					        
					        <!-- 
					        	Agents 
					        	---------------------------------------------------------------->
					        
					        
					        
					        <div class="tab-pane" id="yellow">
					            <div class="row">
										<div class="col-md-12">
											<h4>Sales</h4>
											<div class="dash-tale">
									    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="salestbl" width="100%">
												<thead>
													<tr>
														<th>No</th>
														<th>Date Sold</th>
														<th>Quantity</th>
														<th>Rate</th>
														<th>Value</th>
														<th>Clerk</th>
														<th>Customer</th>
														<th></th>
														
													
													</tr>
												</thead>
												<tbody>
													<?php
													$no = 1;
													 if ($this->sales){
													 	foreach ($this->sales as $sale) {
													 ?>
													<tr>
														<td><?echo $no;?></td>
														<td><?php echo $sale->datesold;?></td>
														<td><?php echo $sale->quantity;?></td>
														<td><?php echo $sale->rate;?></td>
														<td><?php echo $sale->value;?></td>
														<td><a href="/members/bulking-agent-details/<?php echo $sale->customerAccount;?>"><?php echo $sale->customerAccount.'#'.$this->getAccountHolder($sale->customerAccount)?></a></td>
														<td><a href="/customers/details/<?php echo $sale->customerAccount;?>"><?php echo $sale->customerAccount.'#'.$this->getAccountHolder($sale->customerAccount)?></a></td>
														<td></td>
														
													</tr>
													<?php $no++; } }?>
												</tbody>
												
											</table>
											
									    </div>
										</div>
									</div>	
					        </div>
					    </div>
					</div>
				  </div>
				</div>		
			
		
 

			
			
			</div>
		</div>
		
	</div>
</div>

 
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>