

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	    $('#example2').dataTable();
	} );
</script>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $('#purchases a:first').tab('show') 
	})
	
</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
	    <h1>Expenses <small>All Expenses</small></h1>
	 </div>
	<div class="col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus"></span>New  Expense
				</button>
				
 			</p>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">New Expense</h4>
		      </div>
		      <div class="modal-body">
		        <div class="small-form">
			    	<?php if($this->form){ echo $this->form; }?>
			    	<hr/>
			    </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
	</div>
							
							
</div>
<div class="clearfix"></div>
<ol class="breadcrumb">
	      <li> <a href="/">Home</a></li>
	      <li class="active"><i class="fa fa-bar-chart-o"></i> expenses</li>
	    </ol>
<div class="admin-body-wrapper">
	<div class="row">
		<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
		<div class="col-md-12">
			<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab"><i class="fa fa-tasks"></i> Expenses</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
            <div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<h4>Expenses</h4>
							</div>
							
							<?php if($this->getRole()==102 || $this->getRole()==103 ){?>
							
							<?php } ?>
						</div>
						<hr/>
						<div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Date</th>
									<th>Cost</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->expenses){
								 	foreach ($this->expenses as $expense) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><?php echo $expense->expensedate;?></td>
									<td>Ksh <?php echo $expense->value;?></td>
									<td><?php echo $expense->description;?></td>
									
								</tr>
								<?php $no++; } }?>
							</tbody>
							
						</table>
						
				    </div>
					</div>
				</div>
        </div>
        
    </div>
</div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>