<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nudcon Digital">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Dashboard - Akili eT</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet"> 
    <link href="/css/custom.akili.css" rel="stylesheet"> 
    
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!-- Page Specific CSS -->
    
    <link rel="stylesheet" href="/datatables/css/demo_table.css">
    <script type="text/javascript" language="javascript" src="/datatables/js/jquery.js"></script>
    
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
            <div class="menu-top">
            	<span class="menu-name">Menu</span>
	            <span class="menu-strips">
		            <span class="sr-only">Menu</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </span>
	            <div class="clearfix"></div>
            </div>
            
          </button>
          <a class="navbar-brand" href="/hub"><img src="/images/logo.png" alt="akili et"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="left-sidebar nav navbar-nav side-nav">
            <li class="brand-nv"><a class="navbar-brand" href="/hub"><img src="/images/logo.png" alt="akili et"/></a></li>
            <li class="active"><a href="/hub"><i class="fa fa-dashboard"></i>&nbsp; Dashboard</a></li>
            
            <?php if($this->getRole()==102 ||$this->getRole()==103  ){?>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>&nbsp; BUY <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/purchases">Purchases</a></li>
                <li><a href="/purchase/new">New</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-credit-card"></i>&nbsp; SELL <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/sales">Sales</a></li>
                <li><a href="/sale/new">New</a></li>
              </ul>
            </li>
            <?php }?>
            <?php if($this->getRole()==102 || $this->getRole()==103 || $this->getRole()==106  ){?>
	            <?php if($this->getRole()==102 ||$this->getRole()==103 || $this->getRole()==106 ){?>
	            <li><a href="/payments"><i class="fa fa-folder-open"></i>  &nbsp; PAYMENTS</a></li>
	            <?php }?>
	            
	            <?php if($this->getRole()==106  ){?>
	            <li><a href="/exchange"><i class="fa fa-archive"></i> &nbsp; FARM INPUTS</a></li>
	            <?php }?>
	            
	            <?php if($this->getRole()==102 ||$this->getRole()==103  ){?>
	            <li><a href="/payment/new"><i class="fa fa-money"></i> PAY</a></li>
	            <?php }?>
             <?php }?>
             
             <?php if($this->getRole()==104){?>
                <li><a href="/exchange"><i class="fa fa-exchange"></i> &nbsp;FARM INPUTS</a></li>
              <?php }?>
                
             
             <?php if($this->getRole()==106){?>
             <li><a href="/agents"><i class="fa fa-bars"></i>&nbsp; AGENTS</a></li>
            <?php }?>
            <?php if($this->getRole()==106 ){?>
            <li><a href="/shops"><i class="fa fa-suitcase"></i>&nbsp; ZIWA SHOPS</a></li>
            <?php }?>
            
             <?php if($this->getRole()==102 ||$this->getRole()==103 ||$this->getRole()==106  ){?>
            <li><a href="/expenses"><i class="fa fa-shopping-cart"></i>&nbsp; EXPENSES</a></li>
            <li><a href="/Assets"><i class="fa fa-inbox"></i>&nbsp; ASSETS</a></li>
            <?php }?>
            
            <?php if($this->getRole()==102 || $this->getRole()==103 || $this->getRole()==106 ){?>
            <li><a href="/members"><i class="fa fa-users"></i> &nbsp;MEMBERS</a></li>
            <?php }?>
            
            <?php if( $this->getRole()==106 ){?>
            <li><a href="/organizations"><i class="fa fa-money"></i> &nbsp;VALUE CHAINS</a></li>
            <?php }?>
            
            <!-- Farmers group -->
            <?php if($this->getRole()==101 ){?>
            <li><a href="/exchange/make"><i class="fa fa-exchange"></i> &nbsp;FARM INPUTS</a></li>
            <li><a href="/members"><i class="fa fa-users"></i>&nbsp; MY GROUP</a></li>
            <?php }?>
            
            <!-- Farmers group -->
            <?php if($this->getRole()==105 ){?>
            <li><a href="/purchases"><i class="fa fa-users"></i>&nbsp; PURCHASES</a></li>
            <?php }?>
            
            
           
            
            
            
            
            
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
          	<?php if($this->getRole()==102 || $this->getRole()==103 || $this->getRole()==106 ){?>
          	<li><a href="/rates"><i class="fa fa-cogs"></i> &nbsp;  Rates</a></li>
          	<?php }?>
            <!-- <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>&nbsp; Notifications <span class="badge">6</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Improve efficiency</a></li>
                <li><a href="#">Improve efficiency</a></li>
                <li><a href="#">Improve efficiency</a></li>
                <li><a href="#">Improve efficiency</a></li>
                <li><a href="#">Improve efficiency</a></li>
                <li><a href="#">Improve efficiency</a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li> -->
            <li class="hover dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp; <?php echo $this->getProfile();?> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/account/profile"><i class="fa fa-user"></i> Profile</a></li>
                <li class="divider"></li>
                <li><a href="/account/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
	
	    <div id="page-wrapper">
	    	<?php if($this->getRole()==102 || $this->getRole()==103 || $this->getRole()==106 ){?>
          	
	    	<div class="small-mobile-menu">
	    		<div class="container">
	    			<div class="row">
	    				<div class="col-xs-12">
	    					<p><a href="/purchase/new">Buy</a> &nbsp; | &nbsp; <a href="/sale/new">Sell</a> &nbsp; | &nbsp; <a href="/expenses">Expenses</a> &nbsp; | &nbsp; <a href="/assets">Assets</a> </p>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
					   
			<?php }?> 		
				<?php echo $this->layout()->content; ?>
   
      	</div>

    </div><!-- /#wrapper -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JavaScript -->
    <script src="/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
  
    
    <script type="text/javascript" language="javascript" src="/datatables/js/jquery.dataTables.min.js"></script>
    
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  </body>
</html>

  
   
