<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#farmers').dataTable();
	} );
</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Organizations<small> ::  Value Chains</small></h1>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li class="active"><i class="fa fa-group"></i> Value Chains</li>
			</ol>
		</div>
	</div>
	
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel-body">
			<p><?php if($this->member){ echo $this->member->description;}?></p>
				<div id="content">
				    
				    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				        <?php if( $this->getRole()==102 /*|| $this->getRole()==103*/ ||$this->getRole()==107 ){?>
				        <li class="active"><a href="#farmerstab" data-toggle="tab">Value Chains</a></li>
				        <?php } ?>
				       
				    </ul>
				    <div id="my-tab-content" class="tab-content">
			         <!-- 
			        	farmers 
			        	---------------------------------------------------------------->
			        
			        <div class="tab-pane  <?php if($this->getRole()==102 || $this->getRole()==106 ){?> active <?php }?> " id="farmerstab">
			            <div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<h2>Farmers</h2>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="akili-controls">
												<p class="nomargin nopadding right">
													<a href="/member/new-farmer" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Farmer
													</a>
													<a href="/member/new-farmer-group" class="btn btn-danger">
													  <span class="glyphicon glyphicon-plus"></span> New Nyumba Kumi
													</a>
													
													
									 			</p>
											</div>
											
										</div>
										
									</div>
									<div class="dash-tale">
							    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="farmers" width="100%">
										<thead>
											<tr>
												<th>No</th>
												<th>Clerk</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Member since </th>
											</tr>
										</thead>
										<tbody>
											<?php
											$no = 1;
											 if ($this->farmers){
											 	
											 	foreach ($this->farmers as $farmer) {
													 
												
											 ?>
											<tr>
												<td><?echo $no;?></td>
												<td><a href="/member/details/<?php echo $farmer->accountno;?>"><?php echo $farmer->accountno.'#'.$this->getAccountHolder($farmer->accountno)?></a></td>
												<td><?php echo $farmer->email;?></td>
												<td><?php echo $farmer->phoneno;?></td>
												<td><?php echo $farmer->datecreated;?></td>
												
											</tr>
											<?php $no++; } }?>
										</tbody>
										
									</table>
									
							    </div>
								</div>
							</div>
			        </div>
			        	
			
			        </div>
			        </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
