<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
	</script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Payments <small>All Payments</small></h1>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="akili-controls">
			<p class="nomargin nopadding right">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-plus"></span> New Agent
				</button>
				
 			</p>
			<!-- Button trigger modal -->
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">New  Agent</h4>
			      </div>
			      <div class="modal-body">
			        <div class="small-form">
				    	<?php if($this->form){ echo $this->form; }?>
				    	<hr/>
				    </div>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">Home</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> Agents</li>
			</ol>
		</div>
	</div>
	
	
<div class="admin-body-wrapper">
	<div class="row">
		<div class="col-md-12">
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			<div class="dash-table-dsh">
				    <div class="dash-tale">
				    	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
							<thead>
								<tr>
									<th>No</th>
									<th>Name</th>
									<th>Location</th>
									<th>Description</th>
								
								</tr>
							</thead>
							<tbody>
								<?php
								$no = 1;
								 if ($this->agents){
								 	
								 	foreach ($this->agents as $agent) {
								 ?>
								<tr>
									<td><?echo $no;?></td>
									<td><a href="/agents/agentdetails/token/<?php echo $agent->guid;?>"><?php echo $agent->name;?></a></td> 
									<td><?php echo $agent->location;?></td>
									<td>
										<?php echo $agent->description; ?>
									</td>
								</tr>
								<?php $no++; } }?>
							</tbody>
							<tfoot>
								<tr>
									<th>No</th>
									<th>Name</th>
									<th>Location</th>
									<th></th>
								</tr>
							</tfoot>
						</table>
						
				    </div>
			</div>
		</div>
		
	</div>
</div>