
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	    $('#example').dataTable();
	} );
</script>

<script>
  $(function() {
    var availableTags = [
      <?php 
      if($this->members){
      	foreach ($this->members as $member) {
          echo '"'.$member->accountno.'#'.$member->fname.' '.$member->mname.' '.$member->lname.'",';
      	} 
	  }
      ?>
     
    ];
    $( "#accounts" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="title-wrap">
	<div class="col-lg-6 col-md-6">
		<h1>Agents <small>New Agent</small></h1>
	</div>
	
</div>
<div class="clearfix"></div>

<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
		      <li> <a href="/">home</a></li>
		      <li> <a href="/agents">agents</a></li>
		      <li class="active"><i class="fa fa-dashboard"></i> new agents</li>
			</ol>
		</div>
	</div>
	
<div class="admin-body-wrapper">
	<div class="row">
		
			<?php if($this->message){?>
			<div class="col-md-12">
					<div class="alert <?php if($this->error){ echo "alert-danger";}else{ echo "alert-success"; }?> alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <?php echo $this->message;?>
					</div>
			</div>
			<?php } ?>
			
		
		<div class="col-md-4">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>New bulking agent</h3>
				    	<?php if($this->form){ echo $this->form; }?>
				    </div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<div class="dash-table-dsh">
				    <div class="small-form">
				    	<h3>Import from Excel</h3>
				    	<form action="purchase/import" method="post">
				    		<div class="form-group">
				    		<h5>Step 1 : Download template</h5>
				    		<p class="help-block">To upload purchases from an excel sheet, first download the template below and populate data on it
				    			<br/> <a href="">Download template here</a></p>
				    		<h5>Step 2: Choose Excel sheet populated with data </h5>
								    <input type="file" id="exampleInputFile">
							<h5>Step 3 : Upload</h5>						    
								    <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-open"></span> Import</button>
							  </div>
				    	</form>
				    </div>
			</div>
		</div>
		
	</div>
</div>